.success {
    &__banner {
        background-color: #0D0D17;
        border-radius: 1rem;
        width: 100%;
        display: block;
        transition: filter .2s;

        &:hover {
            filter: brightness(1.2);
        }
    }

    &__image {
        display: block;
        max-width: 45%;
        padding: 2rem;
        margin: 0 auto;
    }

    &__tweets {
        background-color: rgba(134, 143, 152, 0.25);
        border-radius: 1rem;
        padding: 3rem;

        &--storyline {
            max-height: 40rem;
            overflow-y: auto;
            max-width: 45rem;
            margin: 0 auto;
        }
    }

    &__glass-ball {
        position: absolute;
        display: none;

        @include breakpoint($xl) {
            display: block;
        }

        &--1 {
            display: none;
            max-width: 7rem;
            bottom: -4.166667%;
            left: -4.166667%;

            @include breakpoint($xl) {
                display: block;
                max-width: 9rem;
                animation: float 2.8s ease 2s infinite;
            }
            //animation: float 2.5s ease infinite;
        }

        &--2 {
            display: none;
            max-width: 7rem;
            right: -4.166667%;
            top: -4.166667%;

            @include breakpoint($xl) {
                display: block;
                max-width: 9rem;
                animation: float 3s ease .6s infinite;
            }
        }
    }
}
